<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User info for admin</title>
</head>
<body>

<p th:text="${user.id}"></p>
<p th:text="${user.username}"></p>
<p th:text="${user.email}"></p>

<p>with roles: <br>
<div th:each="role : ${user.getRoles()}">
    <span th:text="${role.getName().substring(5)}"></span>
    <br>
</div>
</p>

<!-- GET-запрос на изменение User -->
<a th:href="@{/admins/{id}/edit(id=${user.getId()})}">Edit</a>
<br><br>

<!-- DELETE-запрос на удаление User -->
<form th:method="DELETE" th:action="@{/admins/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>